---
layout: default
---

<main class="content" role="main">
{% include analytics.html %}
  <div>
    <amp-img alt="Caff"
  src="/assets/images/byebye-1x.png"
  width="375"
  height="303"
  layout="responsive"
  srcset="/assets/images/byebye-3x.png 1125w,/assets/images/byebye-2x.png 750w,
            /assets/images/byebye-1x.png 375w">
    </amp-img>
  </div>
  <div class="cf frame">
    <p class="download">
    <amp-img
    class="appstore"
    width="130"
    height="50"
    src="/assets/images/appstore.svg">
    </amp-img>
    <amp-img
    class="googleplay"
    width="150"
    height="46"
    src="/assets/images/googleplay.png">
    </amp-img>
    </p>
  </div>
</main>

{% include footer.html %}
