---
layout: default
---

<main class="topcontent" role="main">
{% include analytics.html %}
  <div class="video_frame">
    <video poster="/assets/images/caff_movie_thumbnail.png" src="/assets/images/caff-movie.mp4" autoplay muted playsinline loop class="movie"></video>
  </div>
  <h3 class="centering">いますぐCaffをダウンロード！</h3>
  <div class="cf frame">
    <p class="download">
    <a target="_blank" href="https://itunes.apple.com/us/app/caff-カフ-さびしさバイバイ/id1422583997?l=ja&ls=1&mt=8">
    <amp-img
    media="(max-width: 699px)"
    class="appstore"
    width="130"
    height="50"
    src="/assets/images/appstore.svg">
    </amp-img>
    <amp-img
    media="(min-width: 700px)"
    class="appstore"
    src="/assets/images/appstore.svg"
    width="260"
    height="100">
    </amp-img>
    </a>
    <a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.caff.caff">
    <amp-img
    media="(max-width: 699px)"
    class="googleplay"
    width="162"
    height="50"
    src="/assets/images/google-play-badge.png">
    </amp-img>
    <amp-img
    media="(min-width: 700px)"
    class="googleplay"
    src="/assets/images/google-play-badge.png"
    width="323"
    height="100">
    </amp-img>
  </a>
    </p>
  </div>
<div class="news">
  <div class="cf frame">
    <h2 class="before-post">ニュース</h2>
  {% for post in paginator.posts %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
      <div class="article-item">
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
        </div>
        <header class="post-header">
          <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
        </header>
        <hr />
      </div>
    </article>
  {% endfor %}
</div>

  <nav class="pagination" role="navigation">
  {% if paginator.next_page %}
    <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
  {% else %}
    <a class="newer-posts disabled">&larr; Older posts</a>
  {% endif %}
  <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
    {% else %}
      <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
    {% endif %}
  {% else %}
    <a class="older-posts disabled">Newer posts &rarr;</a>
  {% endif %}
</nav>
</div>
</main>

{% include footer.html %}
