
<footer class="site-footer">
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
    <div class="inner">
         <section class="copyright">All content copyright {{ site.name }} &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
</footer>
