---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
        <div class="twitter">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button"
        data-url="{{site.url}}{{page.url}}"
        date-text="{{page.title}}"
        data-show-count="true">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="facebook">
          <a id="fb-root"></a>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

            <!-- Your like button code -->
            <div class="fb-like"
              data-href="{{site.url}}{{page.url}}"
              data-layout="button_count"
              data-action="like"
              data-share="true"
              data-show-faces="false">
            </div>
        </div>
        <div class="hatena">
          {% capture bookmark_url %}http://b.hatena.ne.jp/entry/s/www.caff.jp/{{page.url}}{% endcapture %}
          <a href="{{bookmark_url}}" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter"
          data-hatena-bookmark-lang="ja" title="はてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
          <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
      </section>
      <h3 class="centering">いますぐアプリをダウンロード！</h3>
      <div class="cf frame">
        <p class="download">
        <a target="_blank" href="https://itunes.apple.com/us/app/caff-カフ-さびしさバイバイ/id1422583997?l=ja&ls=1&mt=8">
        <amp-img
        media="(max-width: 699px)"
        class="appstore"
        width="130"
        height="50"
        src="/assets/images/appstore.svg">
        </amp-img>
        <amp-img
        media="(min-width: 700px)"
        class="appstore"
        src="/assets/images/appstore.svg"
        width="260"
        height="100">
        </amp-img>
        </a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=jp.co.caff.caff">
        <amp-img
        media="(max-width: 699px)"
        class="googleplay"
        width="162"
        height="50"
        src="/assets/images/google-play-badge.png">
        </amp-img>
        <amp-img
        media="(min-width: 700px)"
        class="googleplay"
        src="/assets/images/google-play-badge.png"
        width="323"
        height="100">
        </amp-img>
      </a>
        </p>
      </div>
    </footer>
  </article>
</main>

{% include footer.html %}
